<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>mainServlet</servlet-name>
        <servlet-class>info.kpfu.ru.servlets.mainServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>mainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DBservlet</servlet-name>
        <servlet-class>info.kpfu.ru.servlets.DBservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBservlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>

</web-app>
